
  <hr>
  <h1 style="position: relative; text-align: center; font-family: Arial, sans-serif; font-size: 48px; color: #fff; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
	<span style="position: relative; display: inline-block; animation: lights 3s ease-in-out infinite;">
	  L<span style="animation-delay: 0.2s;">i</span>b<span style="animation-delay: 0.4s;">r</span>a<span style="animation-delay: 0.6s;">r</span>y<span style="animation-delay: 0.8s;">_</span>M<span style="animation-delay: 1s;">a</span>n<span style="animation-delay: 1.2s;">a</span>g<span style="animation-delay: 1.4s;">e</span>m<span style="animation-delay: 1.6s;">e</span>n<span style="animation-delay: 1.8s;">t</span>_</span>S<span style="animation-delay: 2s;">y</span>s<span style="animation-delay: 2.2s;">t</span>e<span style="animation-delay: 2.4s;">m</span>
	</span>
  </h1>
  <hr>